<!doctype html>
<html>

    <head>
        <title>Basic Flask App</title>
    </head>

    <body>
        <div class="container">
            <h1>Welcome to Basic Flask App. Application Section!</h1>
        </div>
    <header>
        <h1 style="font-size:20px;">
         <a href="/home/app_section/create_app_user">Create App User</a>
        </h1>
        <h1 style="font-size:20px;">
            <a href="/home/app_section/reset_app_user_password">Reset App User Password</a>
        </h1>
        <h1 style="font-size:20px;">
            <a href="/home/app_section/change_status">Enable-Disable Tasks</a>
        </h1>
    </header>
    </body>

</html>