<!doctype html>
<html>

    <head>
        <title>Basic Flask App</title>
    </head>

    <body>
        <div class="container">
            <h1>Welcome to Basic Flask App. Database Section!</h1>
        </div>
    <header>
        <h1 style="font-size:20px;">
         <a href="/home/db_section/create_db_user">Create DB User</a>
        </h1>
        <h1 style="font-size:20px;">
            <a href="/home/db_section/reset_db_user_password">Reset DB User Password</a>
        </h1>
        <h1 style="font-size:20px;">
            <a href="/home/db_section/grant_access_to_db_user">Grant Access to DB User</a>
        </h1>
    </header>
    </body>

</html>